body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.meteorology-img {
  width: 300px;
  height: auto;
  border-radius: 16px;
  border: 2px solid white;
  outline: 2px solid gray;
}
